[
    {
        "action": "/send/LG_AKB72915207/KEY_POWER",
        "button": "KEY_POWER",
        "device_name": "LG_AKB72915207",
        "voice_command": "включить"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_POWER",
        "button": "KEY_POWER",
        "device_name": "LG_AKB72915207",
        "voice_command": "выключить"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_1",
        "button": "KEY_1",
        "device_name": "LG_AKB72915207",
        "voice_command": "1"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_2",
        "button": "KEY_2",
        "device_name": "LG_AKB72915207",
        "voice_command": "2"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_3",
        "button": "KEY_3",
        "device_name": "LG_AKB72915207",
        "voice_command": "3"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_4",
        "button": "KEY_4",
        "device_name": "LG_AKB72915207",
        "voice_command": "4"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_5",
        "button": "KEY_5",
        "device_name": "LG_AKB72915207",
        "voice_command": "5"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_6",
        "button": "KEY_6",
        "device_name": "LG_AKB72915207",
        "voice_command": "6"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_7",
        "button": "KEY_7",
        "device_name": "LG_AKB72915207",
        "voice_command": "7"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_8",
        "button": "KEY_8",
        "device_name": "LG_AKB72915207",
        "voice_command": "8"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_9",
        "button": "KEY_9",
        "device_name": "LG_AKB72915207",
        "voice_command": "9"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_0",
        "button": "KEY_0",
        "device_name": "LG_AKB72915207",
        "voice_command": "0"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_VOLUMEUP",
        "button": "KEY_VOLUMEUP",
        "device_name": "LG_AKB72915207",
        "voice_command": "громкость +"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_VOLUMEDOWN",
        "button": "KEY_VOLUMEDOWN",
        "device_name": "LG_AKB72915207",
        "voice_command": "громкость -"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_CHANNELUP",
        "button": "KEY_CHANNELUP",
        "device_name": "LG_AKB72915207",
        "voice_command": "canal +"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_CHANNELDOWN",
        "button": "KEY_CHANNELDOWN",
        "device_name": "LG_AKB72915207",
        "voice_command": "канал -"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_MENU",
        "button": "KEY_MENU",
        "device_name": "LG_AKB72915207",
        "voice_command": "меню"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_UP",
        "button": "KEY_UP",
        "device_name": "LG_AKB72915207",
        "voice_command": "вверх"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_DOWN",
        "button": "KEY_DOWN",
        "device_name": "LG_AKB72915207",
        "voice_command": "вниз"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_RIGHT",
        "button": "KEY_RIGHT",
        "device_name": "LG_AKB72915207",
        "voice_command": "вправо"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_LEFT",
        "button": "KEY_LEFT",
        "device_name": "LG_AKB72915207",
        "voice_command": "влево"
    },
    {
        "action": "/send/LG_AKB72915207/KEY_OK",
        "button": "KEY_OK",
        "device_name": "LG_AKB72915207",
        "voice_command": "ок"
    },

    {
        "action": "/ZWaveAPI/Run/devices[13].instances[0].Basic.Set(255)",
        "button": "LIGHT_ON",
        "device_name": "ZWAY",
        "voice_command": "день"
    },

    {
        "action": "/ZWaveAPI/Run/devices[13].instances[0].Basic.Set(0)",
        "button": "LIGHT_OFF",
        "device_name": "ZWAY",
        "voice_command": "ночь"
    }
]
